

.SearchBarButton{
    all: unset;
    background-color:white;
    border: none;
    border-radius: .75rem;
    cursor: pointer;
    height: 2rem;
}

.SearchIcon{
    width: 25px;
    height: 25px;
}
