

.SearchBar{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.SearchBarForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: .9rem;
    cursor: pointer;
    border: none;
    outline: none;
    width: 20rem;
    height: 2rem;
    margin: 1rem;
    padding: .25rem;
}

.SearchBarError{
    color: red;
}